#header
{
height:50px;
}

#homeIcon{
 width: 65px;
 margin-top: 8px;
}

#homeIcon:hover
{
  cursor: pointer;
  filter: opacity(0.4) drop-shadow(0 0 0 gray);
  animation: HomeIcon 0.3s linear;
  width: 70px;
}


body
{
  background-color: rgba(156, 179, 214,0.7);
}

#description
{
  height: 120px;
}

.changeToDel
{
  text-decoration-line: line-through;
}


.text
{
  margin-bottom: 20px;
}

#warning{

  animation: Warning 0.3s linear;
}

@keyframes Warning
{
  0% {font-size: auto; color: black;}
  30% {font-size: 17px; color: red;}
  100% {font-size: auto;}
}

@keyframes HomeIcon
{
  0% {width: 65px;}
  100% {width: 70px;}
}

#buttonDel
{
  margin-left: 30px;
}


/* switch */
.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 26px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



/* sidebar */
#sidebar
{
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    transition: width 0.5s ease;

}
#sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

#sidebar a:hover {
  color: #f1f1f1;
}

#OpenSB
{
  position: fixed;
  top: 0;
  transition: right 0.5s ease;
  font-size: 25px;
  cursor: pointer;
  width: 35px;
  background: none;
  border: none;
  margin: 5px 10px 0px 0px;
  padding: 0px;
}

.close-sideB{
  width: 0;
}

.open-sideB
{
  width: 160px;
}

.close{
  right: 0px;
}

.open{
  right: 160px;
}