body
{
  background-color: rgba(156, 179, 214,0.7);
}

/* header style */
#header
{
height:50px;
}

 
#homeIcon{
 width: 78px;
 margin-top: 4px;
}

#homeIcon:hover
{
  cursor: pointer;
  filter: opacity(0.4) drop-shadow(0 0 0 gray);
  animation: HomeIcon 0.3s linear;
  width: 70px;
}

@keyframes HomeIcon
{
  0% {width: 78px;}
  100% {width: 70px;}
}


/* main style */
#description
{
  height: 50px;
}

#warning{
  animation: Warning 0.3s linear;
}

@keyframes Warning
{
  0% {font-size: auto; color: black;}
  30% {font-size: 17px; color: red;}
  100% {font-size: auto;}
}

#AddItemsElements
{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#input
{
  font-size: 20px;
}


#ButtonAdder
{
  font-size: 20px;
}

#buttonDel
{
  border: none;
  background: none;
  margin-left: 30px;
}

#buttonDel:hover
{
  cursor: pointer;
  filter: opacity(0.4) drop-shadow(0 0 0 gray);
}


/* add line-through to the to-do items */
.changeToDel
{
  text-decoration-line: line-through;
}


/* switch button*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 23px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



/* sidebar */
#sidebar
{
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    transition: width 0.5s ease;

}
#sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

#sidebar a:hover {
  color: #f1f1f1;
}

#OpenSB
{
  position: fixed;
  top: 0;
  transition: right 0.5s ease;
  font-size: 30px;
  cursor: pointer;
  width: 40px;
  background: none;
  border: none;
  margin: 15px 10px 0px 0px;
  padding: 0px;
}

.close-sideB{
  width: 0;
}

.open-sideB
{
  width: 200px;
}

.close{
  right: 0px;
}

.open{
  right: 200px;
}


/* dropdown */
body
{
  transition: background-color 0.4s ease;
}

body.Background
{
background-color: rgba(0, 0, 0, 0.2);
}

/* #dropdown
{
position: fixed;
top: 150px;
right: 800px;
} */

#EditArea
{
  transition: margin-left 0.3s ease;
}

.EditArea
{
  margin-left: 40%;
  margin-right: 40%;
  min-width: 500px;
  max-width: 500px;
  min-height: 350px;
  max-height: 350px;
  border-radius: 10px;
  border: 5px outset white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}


.EditButt
{
  cursor: pointer;
  border: none;
  background: none;
  position:absolute;
  margin-top: -280px;
  margin-right: 400px;
  font-size: 20px;
}

.EditButt:hover
{
  cursor: pointer;
  color: rgba(0, 0, 0, 0.7);


}


#DelButton
{
  font-size: 20px;
  margin-top: 30px;
  width: 85px;
  height: 50px;
}


.DropDownMult
{
  width:200px;
  height: 150px;
  margin-top: 20px;
}

.CenterArea
{
  display: flex;
  align-items: center;
  justify-content: center;
}


/* tool tip */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  /* move the tool tip */
  bottom: -110px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 230px;
  height: fit-content;
  background-color: #555;
  color: #fff;
  text-align: start;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -110px;
  opacity: 0;
  transition: opacity 0.4s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}